### 长亭WAF告警
>**时间**:{{ c_time }}
>**攻击IP**:`{{ IP }}`
>**归属国家**: 中国
>**被攻击站点**:<font color="warning">{{ sites }}</font>
>**原因**:<font color="info">{{ reason }}</font>
>**触发告警**:<font color="info">{{ event }}</font>
>**执行动作**:<font color="comment">加黑</font>
